body {
    background-color: #e4dce0ff;
}

h1 {
    color: #4f4454ff;
    font-family: Allura, script;
    font-size: 108pt;
    font-weight:100;
    text-align: center;
    margin-bottom: 0px;
}

img {
    height: 100px;
    width: 100px;
}

a:link {
    text-decoration: none;
    font-family: Acre, sans-serif;
    color: #4f4454ff;
}

a:hover {
    color: black;
}

.center {
    text-align: center;
}

.imageContainer {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

.roll .on {
    display: block;
}

.roll .off {
    display: none;
}

.roll:hover .on {
    display: none;
}

.roll:hover .off {
    display: block;
}